body{
    margin:0;
}
.navbar{
    display: flex;box-shadow: 2px 1px 2px #6d6666;
    display:flex;
}
.container{
    align-items: center;
    display:inline-flex;
}
.rightSection{
    display:inline-flex;
    padding-left:950px;
}
.rightSection p{
    padding-left:30px;
}
.rightSection a{
    text-decoration:none;
}
/* floating text  */
.floating-text {
    display: inline-block;
    animation: float 15s linear infinite alternate;
    padding-left:30px;
    padding-right: 20px;
}
@keyframes float {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100vw - 100%));
    }
}

/* Section Demo-Cars*/

.Audi-Q8{
    display:flex;
    align-items: center;
    padding-left:20px;
    padding-right: 30px;
}
.Audi-Q8 img{
    width:550px;
    height:auto;
}
.Audi-Q8 ul{
    list-style-type: none;
}
.Audi-Q8 li{
    padding:10px;
}

.Thar-Roxx{
    display:flex;
    align-items: center;
    padding-left:20px;
    padding-right: 30px;
}
.Thar-Roxx img{
    width:550px;
    height:auto;
}
.Thar-Roxx ul{
    list-style-type: none;
}
.Thar-Roxx-Q8 li{
    padding:10px;
}
.Thar-Roxx li{
    padding:10px;
}
