

body{
    margin:0;
    font-family: Calibri, sans-serif;
}

/* nav bar */
.left{
    font-size: 1.5rem;
    margin-left:90px;
}
.left a {
    text-decoration: none;
    color:black;
}

nav {
    display : flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:2px 1px 2px;
    height:75px;
    background-image: linear-gradient(90deg, #74D7BB, #53C8B6, #38746e);

}
.right{
    margin-right: 50px;
}

.right li{
    display:inline;
    padding-right:50px;
}
.right a {
    color:aliceblue;
    text-decoration: none;
}

/* firstsection  */

.fisrtSection{
    display:flex;
    justify-content: space-evenly;  
    align-items:center;
    padding-top: 20px;
    
}
.leftSection{
    font-size:2.8rem;
    color:black;
}

.rightSection img{
    width:450px;
    height:400px;
}

/* section - Demo */
.Demo{
    padding-top: 90px;
    display: flex;
}

.skillSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile {
    display: flex;
    align-items: center;
}
.profile img {
    border-radius: 50%;
    width: 200px;
    height: auto;
    margin-left: 100px;
    margin-right:20px
}
.profile ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    color:rgb(26, 22, 22)
}
.profile li {
    padding-bottom: 5px;

}

.about {
    padding-right:15px;
    padding-left:107px;
    max-width: 550px;
}

.about h1{
    color:black;

}

/* section skills */
.skills {
    padding-left:120px;
    display:inline-flex;
    width:fit-content;
    /* background-color: #363D73; */
}

.skill-bar {
    margin-bottom: 15px;
    width:480px
}

.skill-bar span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.progress {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
}

.progress-fill {
    background-color: #93de42;
    height: 100%;
    transition: width 0.3s;
    border-radius: 5px;
}

.container3 {
    padding-left: 73px;
    padding-right: 40px;
    width:550px;
}


